{% extends "recipe-list.njk" %}

{% block mainPage %}
    <main>
        <div class="board">
            <div class="content">
                <h1>As melhores receitas</h1>
                <p>
                    <br>Aprenda a construir os melhores pratos</br>
                    <br>com receitas criadas por profissionais</br>
                    <br>do mundo inteiro.</br>
                </p>
            </div>
            <img src="assets/chef.png" alt="chef">
        </div>
    </main>

    <section>
        <h2>Mais acessadas</h2>
        
        <div class="food-cards">
            <div class="revenue">
                <div class="food-image">
                    <img src="assets/burger.png" alt="burger">
                </div>
                
                <div class="revenue-content">
                    <h4>Triplo bacon burger</h4>
                    <b>por Eduardo Kobus</b>
                </div>     
            </div>

            <div class="revenue">
                <div class="food-image">
                    <img src="assets/pizza.png" alt="pizza">
                </div>
                
                <div class="revenue-content">
                    <h4>Pizza 4 estações</h4>
                    <b>por Rafaela Zaboenco</b>
                </div>     
            </div>

            <div class="revenue">
                <div class="food-image">
                    <img src="assets/espaguete.png" alt="espaguete">
                </div>
                
                <div class="revenue-content">
                    <h4>Espaguete ao alho</h4>
                    <b>por Chris Krüger</b>
                </div>     
            </div>

            <div class="revenue">
                <div class="food-image">
                    <img src="assets/lasanha.png" alt="lasanha">
                </div>
                
                <div class="revenue-content">
                    <h4>Lasanha mac n' cheese</h4>
                    <b>por Sara Martins</b>
                </div>     
            </div>

            <div class="revenue">
                <div class="food-image">
                    <img src="assets/doce.png" alt="docinho">
                </div>
                
                <div class="revenue-content">
                    <h4>Docinho pâo-do-céu</h4>
                    <b>por Rafaela Zaboenco</b>
                </div>     
            </div>

            <div class="revenue">
                <div class="food-image">
                    <img src="assets/asinhas.png" alt="asinhas">
                </div>
                
                <div class="revenue-content">
                    <h4>Asinhas de frango</h4>
                    <b>por David Hübner</b>
                </div>     
            </div>
        </div>
    </section>
{% endblock %}