<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
        <title>Foodfy</title>
    </head>
    
    <body>
        <header>
            <div class="logo">
                <a href="/">
                <img src="/assets/logo.png" alt="logo-foodfy">
                </a>
            </div>
            <div class="options">
                <a href="/sobre">Sobre</a>
                <a href="/recipe-list">Receitas</a>
            </div>
        </header>

        {% block mainPage %}{% endblock %}
        {% block about %}{% endblock %}

        {% block recipesPage %}{% endblock %}
        {% block recipeList %}{% endblock %}
        {% block recipeDetail %}{% endblock %}
        
        <div class="baseboard">
            <footer>
                Todos direitos reservados, receitas Foodfy.
            </footer>
        </div>

        <script src="/script.js"></script>
    </body>
</html>