{% extends "recipe-list.njk" %}

{% block recipesPage %}
    <link rel="stylesheet" href="/revenue-style.css">

    <section> 
        <div class="food-cards">
            <div class="revenue">
                <div class="food-image">
                    <img src="assets/burger.png" alt="burger">
                </div>
                
                <div class="revenue-content">
                    <h4>Triplo bacon burger</h4>
                    <b>por Eduardo Kobus</b>
                </div>     
            </div>

            <div class="revenue">
                <div class="food-image">
                    <img src="assets/pizza.png" alt="pizza">
                </div>
                
                <div class="revenue-content">
                    <h4>Pizza 4 estações</h4>
                    <b>por Rafaela Zaboenco</b>
                </div>     
            </div>

            <div class="revenue">
                <div class="food-image">
                    <img src="assets/espaguete.png" alt="espaguete">
                </div>
                
                <div class="revenue-content">
                    <h4>Espaguete ao alho</h4>
                    <b>por Chris Krüger</b>
                </div>     
            </div>

            <div class="revenue">
                <div class="food-image">
                    <img src="assets/lasanha.png" alt="lasanha">
                </div>
                
                <div class="revenue-content">
                    <h4>Lasanha mac n' cheese</h4>
                    <b>por Sara Martins</b>
                </div>     
            </div>

            <div class="revenue">
                <div class="food-image">
                    <img src="assets/doce.png" alt="docinho">
                </div>
                
                <div class="revenue-content">
                    <h4>Docinho pâo-do-céu</h4>
                    <b>por Rafaela Zaboenco</b>
                </div>     
            </div>

            <div class="revenue">
                <div class="food-image">
                    <img src="assets/asinhas.png" alt="asinhas">
                </div>
                
                <div class="revenue-content">
                    <h4>Asinhas de frango</h4>
                    <b>por David Hübner</b>
                </div>     
            </div>

            <div class="revenue">
                <div class="food-image">
                    <img src="https://cdn.pixabay.com/photo/2015/04/08/13/13/food-712665_960_720.jpg" alt="asinhas">
                </div>
                
                <div class="revenue-content">
                    <h4>Salmão</h4>
                    <b>por Hakaramy Tsuda</b>
                </div>     
            </div>

            <div class="revenue">
                <div class="food-image">
                    <img src="https://cdn.pixabay.com/photo/2016/03/26/18/23/bread-1281053_960_720.jpg" alt="asinhas">
                </div>
                
                <div class="revenue-content">
                    <h4>Pão artesanal</h4>
                    <b>por Michel Suas</b>
                </div>     
            </div>

            <div class="revenue">
                <div class="food-image">
                    <img src="https://cdn.pixabay.com/photo/2017/11/23/13/50/pumpkin-soup-2972858_960_720.jpg" alt="asinhas">
                </div>
                
                <div class="revenue-content">
                    <h4>Creme de sopa de abóbora</h4>
                    <b>por Dione Martins</b>
                </div>     
            </div>

            <div class="revenue">
                <div class="food-image">
                    <img src="https://image.freepik.com/fotos-gratis/macarrao-penne-com-almondegas-em-molho-de-tomate-em-uma-tigela-branca_2829-7663.jpg" alt="macarrao penne">
                </div>
                
                <div class="revenue-content">
                    <h4>Macarrão penne com almôndegas</h4>
                    <b>por Rosa Alexandre</b>
                </div>     
            </div>

            <div class="revenue">
                <div class="food-image">
                    <img src="https://cdn.pixabay.com/photo/2016/02/02/15/33/dishes-1175493_960_720.jpg" alt="asinhas">
                </div>
                
                <div class="revenue-content">
                    <h4>Strapatsada</h4>
                    <b>por Kagiana Demetriou</b>
                </div>     
            </div>

            <div class="revenue">
                <div class="food-image">
                    <img src="https://cdn.pixabay.com/photo/2017/01/16/17/45/pancake-1984716_960_720.jpg" alt="asinhas">
                </div>
                
                <div class="revenue-content">
                    <h4>Schaumomelette</h4>
                    <b>por Paul Bocuse</b>
                </div>     
            </div>
        </div>
    </section>
{% endblock %}