{% extends "layout.njk" %}

{% block recipeDetail %}
    <link rel="stylesheet" href="/recipes.css">
    <link rel="stylesheet" href="/revenue-style.css">

    <div class="recipe_steps">
        <div class="img_recipe">
            <img src="{{ item.image }}" alt="{{ item.title }}">
            <h1>{{ item.title }}</h1>
            <h4>{{ item.recipe }}</h4>
        </div>

        <div class="ingredient show_and_hide">
            <h2>
                Ingredientes  <button class = btn_steps>MOSTRAR</button>
            </h2>
            <ul>
                <li>{{ item.ingredients }}</li>
            </ul>
        </div>

        <div class="preparation show_and_hide">
            <h2>
                Modo de preparo  <button class = btn_steps>MOSTRAR</button>
            </h2>
            <h4>{{ item.preparation }}</h4>
        </div>

        <div class="addInformation show_and_hide">
            <h2>
                Informações adicionais <button class = btn_steps>MOSTRAR</button>
            </h2>
            <h4> {{ item.information }}</h4>
        </div>
    </div>
{% endblock recipeDetail %}