<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
        <title>Foodfy</title>
    </head>
    
    <body>
        <header>
            <div class="logo">
                <a href="/">
                <img src="/assets/logo.png" alt="logo-foodfy">
                </a>
            </div>
            <div class="options">
                <a href="/sobre">Sobre</a>
                <a href="/receitas">Receitas</a>
            </div>
        </header>

        {% block mainPage %}{% endblock %}
        {% block about %}{% endblock %}
        {% block recipesPage %}{% endblock %}
        
        {# {% block recipeList %}
        <div class="recipe_steps">
            
            <div class="ingredient">
                <h2>Ingredientes</h2>
                <ul>
                    <li></li>
                </ul>
            </div>

            <div class="preparation">
                <h2>Modo de preparo</h2>
            </div>

            <div class="addInformation">
                <h2>Informações adicionais</h2>
            </div>
        </div>
        {% endblock recipeList %} #}

        <div class="rodape">
            <footer>
                Todos direitos reservados, receitas Foodfy.
            </footer>
        </div>

        <script src="/server.js"></script>
    </body>
</html>