{% extends "layout.njk" %}

{% block recipeList %}
    <link rel="stylesheet" href="/recipes.css">
    <link rel="stylesheet" href="/revenue-style.css">

    <div class="recipe_steps">
        <div class="img_recipe">
            <img src="{{ item.image }}" alt="{{ item.title }}">
            <h1>{{ item.title }}</h1>
            <h4>{{ item.recipe }}</h4>
        </div>

        <div class="ingredient">
            
            <h2>Ingredientes</h2>
            <ul>
                {% for item in ingredients_recipes %}
                <li>{{ item.ingredients }}</li>
                <li>{{ item.preparation }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="preparation">
            <h2>Modo de preparo</h2>
        </div>

        <div class="addInformation">
            <h2>Informações adicionais</h2>
            <h4> {{ item.information }}</h4>
        </div>
    </div>
{% endblock recipeList %}