.recipe_steps {
    display: flex;
    font-size: 15px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.img_recipe {
    height: 10%;
    /* display: inline-block; */
    margin-top: 3%;
}

.img_recipe img{
    align-items: center;
    width: 940px;
    height: 280px;
    border-radius: 15px;
    align-content: stretch
}

.img_recipe h1 {
    text-align: center;
    margin-top: 3%;
}

.img_recipe h4 {
    line-height: 70%;
    text-align: center;
    color: grey;

    margin-top: 1.8%;
}

.ingredient{
    margin-bottom: 3.1%;
    margin-top: 3.9%;
}

.ingredient h2 {
    margin-bottom: 1%;
}

.ingredient ul {
    line-height: 178%;
    width: 67.1%;
}

.preparation {
    line-height: 150%;
    /* width: 67.1%; */
    margin-bottom: 3.1%;
}

.preparation h2{
    margin-bottom: 1%;
}

.preparation h4 {
    font-weight: 100
}
/* .addInformation {
    justify-content: flex-start;
} */

.addInformation h2 {
    margin-bottom: 1%;
}

.addInformation h4{
    font-weight: 100
}