.foodfy-content h1{
    font-size: 24px;
    margin-left: 31.8%;
    margin-top: 50px;
    margin-bottom: 20px;
    
}

.foodfy-content p{
    margin-left: 31.8%;
    max-width: 940px;
    line-height: 28px;
    margin-bottom: 30px;
}

._footer{
    background-color: #99999969;
    opacity: 50%;
    margin-top: 50px;
    padding:30px;

    
}

._footer footer{
    font-size: 15px;
    text-align: center;
    color: #777777;
    bottom: 0;
    
}